body {
    height: 100%;
    width: 100%;
    background: #344661;
    overflow: hidden;
    margin: 0;
}

p {
    padding: 24px;
    margin: 0;
    position: absolute;
    color: #cccccc;
    font-size: 2.4rem;
    font-family: 'Assistant', sans-serif;
    top: 0;
}

p span {
    color: #808080;
}

.container {
    position: absolute;
    left: calc(50% - 63px);
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.cat {
    width: 115px;
    height: 220px;
}

.head {
    background: #fff;
    width: 114px;
    height: 100px;
    border-radius: 141% 98% 55% 189%;
    position: absolute;
    top: 15px;
    transform: translateY(10px);
    z-index: 25;
    animation: sleep 4s ease-out infinite;
}

@keyframes sleep {
    0% {
        transform: translateY(10px);
    }

    50% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(10px);
    }
}

.ears > div:nth-child(1),
.ears > div:nth-child(2) {
    height: 20px;
    width: 2px;
    position: absolute;
    left: 64px;
    top: -28px;
    border-bottom: 40px solid #fff;
    border-left: 30px solid transparent;
    border-right: 7px solid transparent;
    border-radius: 14px 46px 0 28px;
}

.ears > div:nth-child(2) {
    left: 10px;
    top: -32px;
    border-bottom: 40px solid #fff;
    border-radius: 0 34px 3px 0;
}

.sleep > div {
    position: absolute;
    bottom: 140px;
    left: 40px;
    font-size: 1.8rem;
    color: #b7b7b7;
    z-index: -1;
    transition: all 1s ease-out;
}

@keyframes zzz {
    0% {
        transform: translate(10px, 10px);
        opacity: 1;
    }

    100% {
        transform: translate(10px, -240px);
        opacity: 0;
    }
}

@for $i from 1 to 3 {
    .sleep > div:nth-child(#{$i}) {
        transform: translate(10px, 10px);
        animation: zzz 5s $i*3s ease-in-out infinite;
        left: calc($i*20 + px);
    }
}

@for $i from 4 to 6 {
    .sleep > div:nth-child(#{$i}) {
        transform: translate(10px, 10px);
        animation: zzz 4.5s $i*2s ease-in-out infinite;
    }
}

.face {
    display: flex;
    height: 100%;
    align-items: center;
    padding-top: 25px;
    height: 93%;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

.eyes {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.eyes > div {
    height: 20px;
    width: 20px;
    background: #fff;
    box-shadow: inset 3px 4px #b7b7b7;
    border-radius: 68% 6%;
    transform: rotate(219deg);
}

.nose {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nose::before {
    content: '';
    height: 0px;
    width: 0px;
    border-top: 6px solid #b7b7b7;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    margin-top: 4px;
    display: inline-block;
}

.mustache {
    width: 100%;
    position: absolute;
}

.mustache > div {
    height: 12px;
    width: 3px;
    background: #b7b7b7;
    transform: rotate(90deg);
}

.body {
    background: #fff;
    width: 236px;
    height: 120px;
    border-radius: 237% 242% 196% 216%;
    position: absolute;
    top: 51px;
}

.tail {
    width: 85px;
    height: 120px;
    position: absolute;
    left: 100px;
    top: 44%;
    border-radius: 200px;
    box-shadow: inset 10px 34px 0px #fff;
    transform: rotate(-451deg);
}

.tail::after {
    content: "";
    position: absolute;
    width: 124px;
    height: 94px;
    border-radius: 0 0 264px 218px;
    top: 57%;
    box-shadow: inset 10px -10px #fff;
}

.bg {
    background: #415675;
    width: 100%;
    height: 50vh;
}
